.kontaktside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.kontaktbox{
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20rem;
    margin-top: -17.3rem;
}
.info{
    padding: 1rem;
}
.kontaktformular{
    border-radius: 10px;
    margin: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.contactform{
    display: flex;
    flex-direction: column;
    margin: 2em;
}
.kontakt-input{
    height: 3rem;
    width: 30rem;
    margin: 1rem;
}
.submit-form{
    margin-left: 26.5rem;
    width: 5rem;
}
#submit-form{
    margin-left: auto;
    margin-right: auto;
}