/*Main start*/

/*Første Sektion Hero billede og tekst på hero*/
 .hero {
   width: 100%;
   height: auto;
   margin-top: 5%;
   margin-bottom: 5%;
 }

 .top-left {
   position: absolute;
   top: 50px;
   left: 16px;
   color: #009530;
   font-size: 2.5vw;
   text-align: center;
 }

/*Ande sektion Sektion*/
  /*Layout for flex wrap*/
 .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-container > div {
    width: 44%;
    height: auto;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  /*Billeder i anden sektion*/
  .img2 {
    width: 100%;
    border-radius: 18%;
  }
  
  /*Billeder funktion i anden sektion*/
  .img2:hover {
    box-shadow: 0 12px 16px 0 #626469,0 17px 50px 0 #626469;
  }

  .img2:active {
    transform: translateY(10px);
  }

  /*tekst på billeder i anden sektion*/ 
  .container {
    position: relative;
  }

  /*Tekst på billeder*/
  .bottom-left {
    position: absolute;
    bottom: 25px;
    left: 50%;
    font-size: 3vw;
    color: white;
    font-weight: bold;
    line-height: 1.44;
    transform: translate(-50%, -50%);
  }

/*Tredje sektion Sektion*/
/*Simulator*/
.flex-container5 {
  display: flex;
  flex-wrap: wrap;
}

.flex-container5 > div {
  height: auto;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.img5 {
  margin-right: 50%;
}

.stile {
  width: 30px;
  margin-top: 9px;
  margin-left: 5px;
}

.container5 {
  position: relative;
}
/*Tekst på billeder*/
.bottom-left5 {
  position: absolute;
  bottom: 25px;
  left: 110%;
  font-size: 3vw;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.1;
  width: 10px;
}

#gem {
  display: none;
}

.emoji {
  display: none;
}

.emoji1 {
display: none;
}

.emoji2 {
display: none;
}

.emoji3 {
display: none;
}

#myImagei {
display: none;
}

.hov {
display: none;
}

.hov {
display: none;
}

.hov:active {
display: none;
}

.closedTn {
display: none;
}

.openTn {
display: none;
}

.activeTn {
display: block;
}

.closedTi {
display: none;
}

.openTi {
display: none;
}

.activeTi {
display: block;
}

.closedTa {
display: none;
}

.openTa {
display: none;
}

.activeTa {
display: block;
}

.closedTb {
display: none;
}

.openTb {
display: none;
}

.activeTb {
display: block;
}

  /*Layout for flex wrap knapper til simulator - samme layout som sektion 2, nyt class til billede, grundet størrelse ændres*/
 /*Billeder i tredje sektion*/
 .img3 {
   width: 50%;
   border-radius: 18%;
  }

 /*Billedernes funktion i anden sektion*/
 .img3:hover {
   box-shadow: 0 12px 16px 0 #626469,0 17px 50px 0 #626469;
 }

 .img3:active {
   transform: translateY(10px);
 }

/*Fjerde sektion Sektion*/
   /*Layout for flex stretch - nyheder*/
 .flex-container1 {
    display: flex;
    align-items: stretch;
    margin-left: 30px;
    margin-right: 30px;
  }

 .flex-container1 > div {
    color: #009530;
    margin: 5px;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    height: 60px;
    margin-bottom: 30px;
  }

  /*Stile billede box*/
  .flex {
    flex-grow: 1;
    border: solid #c1c1c1;
    border-radius: 18px;
    width: 30%;
    padding: 10px;
    box-shadow: 0 3px 6px 0 #626469,0 3px 6px 0 #626469;
  }

    /*Stile billeder*/
    .nyhed {
      width: 60%;
      border-radius: 40px;
    }

    .crossfd {
      background: url(file:///C:/Users/sigru/OneDrive/Skrivebord/projekt-6/img/nyheden1.svg);
      background-size: 110%;
    }

    .crossfd1 {
      background: url(file:///C:/Users/sigru/OneDrive/Skrivebord/projekt-6/img/nyheden2.svg);
      background-size: 95%;
    }

    .crossfd2 {
      background: url(file:///C:/Users/sigru/OneDrive/Skrivebord/projekt-6/img/nyheden3.svg);
      background-size: 130%;
    }

    .crossfd3 {
      background: url(file:///C:/Users/sigru/OneDrive/Skrivebord/projekt-6/img/nyheden4.svg);
      background-size: 150%;
    }

    .crossfd4 {
      background: url(file:///C:/Users/sigru/OneDrive/Skrivebord/projekt-6/img/nyheden5.svg);
      background-size: 220%;
    }

    .crossfd5 {
      background: url(file:///C:/Users/sigru/OneDrive/Skrivebord/projekt-6/img/nyheden6.svg);
      background-size: 220%;
    }

    /*billeders funktion*/
    .flex:hover {
      box-shadow: 0 12px 16px 0 #626469,0 17px 50px 0 #626469;
    }
  
    .flex:active {
      transform: translateY(10px);
    }
   
  /*Stile text box*/
  .flex1 {
    flex-grow: 3;
    border: solid #c1c1c1;;
    border-radius: 18px;
    padding: 10px;
    box-shadow: 0 3px 6px 0 #626469,0 3px 6px 0 #626469;
  }

  /*Stile text - overskrift*/
  .over {
    font-size: 12px;
    color: #3DCD58;
    font-weight: bold;
    text-align: center;
  }

  /*Stile text - copy*/
  .tekstny {
    font-size: 10px;
    color: black;
    display: none;
  }

  @media screen and (min-width: 600px) {
    .nyhed {
      width: 40%;
      border-radius: 40px;
    }
  }

  @media screen and (min-width: 768px) {
      .flex-container > div {
        width: 47%;
      }
      .flex-container1 > div {
        height: 150px;
        width: 10%;
        margin-bottom: 50px;
      }
      .flex-container1 {
        margin-left: 40px;
        margin-right: 40px;
      }
      .flex {
        border-radius: 30px;
      }
      .flex1 {
        border-radius: 30px;
      }
      .over {
        font-size: 20px;
      }
      .tekstny {
        font-size: 15px;
      }
      .hov {
        width: 55px;
        height: 55px;
      }
      .stile {
        width: 30px;

      }
      
      .container5 {
        position: relative;
      }
      /*Tekst på billeder*/
      .bottom-left5 {
        position: absolute;
        bottom: 25px;
        left: 110%;
        font-size: 3vw;
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.1;
        width: 10px;
      } 
      .tekstny {
        display: block;
      }
      #gem {
        display: block;
      }
      .emoji {
        width: 10px;
        font-size: 0.07rem;
        cursor: pointer;
        user-select: none;
        margin-bottom: 25%;
        margin-left: 55%; 
        display: block; 
      }
      .emoji1 {
      font-size: 0.75rem;
      cursor: pointer;
      user-select: none;
      margin-bottom: 25%;
      margin-left: 72%;
      display: block;
      }
      .emoji2 {
      font-size: 0.75rem;
      cursor: pointer;
      user-select: none;
      margin-bottom: 40%;
      margin-left: 55%;
      display: block;
      }
      .emoji3 {
      font-size: 0.75rem;
      cursor: pointer;
      user-select: none;
      margin-bottom: 40%;
      margin-left: 72%;
      display: block;
      }
      
      #myImagei {
         width: 200%;
         height: auto;
         display: block;
         display: block;
      }
      .hov {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        
        display: block;
        }
        
        .hov {
        box-shadow: 0 2px 6px 0 #626469,0 5px 15px 0 #626469;
        display: block;

        }
        
        .hov:active {
        transform: translateY(10px);
        display: block;
        }
      }



  @media screen and (min-width: 1024px) {
    .flex-container > div {
      width: 22%;
     }
    .flex-container {
      margin-left: 10%;  
      margin-right: 10%; 
     }
    .flex-container1 {
       margin-left: 15%;
       margin-right: 15%; 
     }
     .flex-container1 > div {
       height: 210px;
       width: 20%;
     }
     .flex {
       border-radius: 40px;
       width: 10%;
     }
     .flex1 {
       border-radius: 40px;
     }
     .bottom-left {
       font-size: 1.2vw;
     }
     .nyhed {
       width: 60%;
       border-radius: 40px;
       padding-top: 15%;
    }
    #myImagei {
      width: 300%;
      height: auto;
    }
    .stile {
      width: 45px;
    }
    .hov {
      width: 55px;
      height: 55px;
    }
    .emoji {
      margin-bottom: 70%;
      margin-left: 163%;  
    }
    .emoji1 {
    margin-bottom: 47%;
    margin-left: 163%;
    }
    .emoji2 {
    margin-bottom: 70%;
    margin-left: 139%;
    }
    .emoji3 {
    margin-bottom: 47%;
    margin-left: 139%;
    }
    }


  @media screen and (min-width: 1440px) {
    .flex-container > div {
        width: 23%;
    }
    .flex-container1 > div {
        height: 300px;
        width: 30%;
    }
    .over {
        font-size: 30px;
    }
    .tekstny {
      font-size: 25px;
    }
    .nyhed {
      width: 70%;
      border-radius: 40px;
      padding-top: 25%;
    }
    #myImagei {
      width: 370%;
      height: auto;
    }
    .stile {
      width: 65px;
    }
    .hov {
      width: 75px;
      height: 75px;
    }
    .emoji {
      margin-bottom: 85%;
      margin-left: 227%;  
    }
    .emoji1 {
    margin-bottom: 52%;
    margin-left: 227%;
    }
    .emoji2 {
    margin-bottom: 85%;
    margin-left: 195%;
    }
    .emoji3 {
    margin-bottom: 52%;
    margin-left: 195%;
    }
    }
  
