/*Gennemgående styleelementer*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1{
    font-size: 2rem;
    text-align: center;
    color: #3DCD58;
}
h2{
    font-size: 1rem;
    color: #3DCD58;
}
h3{
    font-size: 0.5rem;
}
/*header*/
.header{
    text-align: center;
    margin: 0;
}
#headercontainer{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 15rem;
    height: 7,5rem;
    cursor: pointer;
}
#erhverv{
    height: 3rem;
    width: 8rem;
    border: none;
    cursor: pointer;
}
#privat{
    height: 3rem;
    width: 8rem;
    background-color: #3DCD58;
    border: none;
    cursor: pointer;
}

/*navigationsbar inkl. burgermenu*/
#menu{
    display: flex;
    background-color: #fff;
    justify-content: center;
}
  
#menu a{
    float: center;
    font-size: 1.5rem;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
#menu a.active{
    color: #009530;
}
  
.dropdown{
    float: center;
    overflow: hidden;
}
  
.dropdown .btn1{
    cursor: pointer; 
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    font-size: 1.5rem;
    background-color: inherit;
}
.btn1:active{
    color: #009530;
} 
#menu a:hover, .dropdown:hover .btn1{
    font-weight: 600;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    opacity: 80%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}
#roundbuttons{
    padding-top: 0.5rem;
    margin-left: 10rem;
}
  
.search{
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}
.profile{
    height: 3rem;
    width: 3rem;
    padding-left: 0.5rem;
    cursor: pointer;
}
/*Styleelementer for main*/
.carousel-container {
    display: flex;
    position: relative;
    margin: 0;
  }

  .carouselSlides{
    position:relative;
    height:20rem;
    width:100%;
  }

  carouselSlides img{
      height: 600px;
  }

.active {
    background-color:white;
  }
  
.fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
 }

#hejwiser{
    display:flex;
    justify-content: center;
    font-style: italic;
    padding-top: 6rem;
    color:#3DCD58;
    font-family: arial;
    font-size: 2.5rem;
}

.upper-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upper-btn1{
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
    font-size: 2rem;
}

.upper-btn2{
    display:flex;
    flex-direction: row;
    padding-top: 4rem;
    font-size: 2rem;
}

.btn6{
    display: flex;
    flex-direction: column;
   margin-right: 1.5rem;
   width: 11rem;
   border: 0.3rem solid white;
   background-color: white;
   border-radius: 1rem;
   box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem lightgrey;
}

.middle-container{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

#middle-text{
    text-align: center;
    font-family: arial;
    font-size: 2.3rem;
    font-style: italic;
    color: #3DCD58;
}

.middle-text-home{
   text-align: center;
   font-size: 1rem;
   color:#717171;
}


.bottom-container{
    display: flex;
    justify-content: center;
    font-family: arial;
    color: #3DCD58;
    font-size: 1.4rem;
}

.bottom-last-container{
    display: flex;
    justify-content: center;
    border:none;
}

.btn2{
    border:none;
    background-color: white;
}

.btn2 img{
    display: flex;
    border: 0.3rem solid white;
    border-radius: 3rem;
    background-color: white;
}

.rogalarm{
    display: flex;
    justify-content: center;
    font-family: arial;
    color: #3DCD58;
    font-size: 1.2rem;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lowerbutton-1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.btn3{
    display:flex;
    flex-direction: row;
    border:none;
    background-color: white;
}

.btn3 img{
    border-radius: 2rem;
    width: 27.5rem;
}

.btn3-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lowerbutton-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn4{
    display: flex;
    border:none;
    background-color: white;
}

.btn4 img{
    border-radius: 2rem;
    width: 16rem;
    align-items: center;
}

.lower-container{
    display: flex;
    justify-content: center;
}

.btn-text{
    display: flex;
    position: relative;
}
.btn-text a{
  justify-content: space-between;
  color:#3DCD58;
  font-family: arial;
  font-size: 1.2rem;
  text-decoration: none;
  padding-right: 2rem;
  padding-left: 9rem;
}

.elektriker-container{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.findelektriker button{
    border:none;
    background-color: white;
}

.findelektriker img{
    border-radius: 2rem;
}

/*Styleelementer for footeren*/
footer{
    justify-content:space-around;
    margin-top:10rem;
    padding: 0;
    font-family: arial;
    display:flex;
    background-color: #f2f2f2;
    width:100%;
    height: 24rem;
    border-radius: 80% 80% 0 0;  
    box-sizing: border-box;
    padding: 60px 0;
}

.footer .social{
    text-align:center;
    padding-bottom: 1.5rem; 
    color:#61CC62;
    font-size: 2rem;
}

.footer .social a{
    font-size: 2rem;
    color: inherit;
    line-height: 2rem;
    text-align: center;
    margin: 0 1rem;
    opacity: 1;
}

.footer .social a:hover{
    opacity: 0.8;
    color: #3e7c3f;
}

.footer ul{
    list-style-type:none;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
    padding-left: 0rem;
    font-size: 1rem;
    font-style: bold;
}

.footer ul li a{
    text-decoration: none;
    color: #707070;
}

.footer ul li{
    display:inline-block;
    margin-left: 1rem;
}

.footer ul li a:hover{
    opacity:0.5;
    color:black;
}

.footer .copyright{
    margin-left: 0rem;
    margin-top: 1rem;
    text-align: center;
    color:#707070;
    font-size: 1rem;
}

.copyright a{
    color:#707070;
    text-decoration: none;
    font-size: 1rem;
}

.copyright a:hover{
    opacity: 0.5;
    color:black;
}

.lk{
    font-size: 1rem;
    color:#707070;
    text-align: center;
}

.nyhedsbrev{
    color:#707070;
    text-decoration: none;
    text-align: center;
    padding-top: 2rem;
    font-size: 1rem;
}

.tilmeld{
    display:flex-end;
    color:black;
    background-color: #3fa7d3;
    border:none;
    width:4rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.2rem;
    font-size: 0.9rem;
}

@media(max-width:1024px){
    /*header med navbar*/
    #menu a{
        font-size: 1.2rem;
    }
    .dropdown .btn1{
        font-size: 1.2rem;
    }
    #roundbuttons{
        padding-top: 0rem;
        margin-left: 2rem;
    }

    /*main*/

    .carouselSlides img{
        height: 18rem;
    }

    #hejwiser{
        font-size: 2.0rem;
    }

    .btn6{
        width: 9rem;
    }

    #middle-text{
        font-size: 1.9rem;
    }

    .middle-text-home{
        font-size: 0.8rem;
    }

    .bottom-container{
        font-size: 1.2rem;
    }

    .btn2 img{
        width: 40rem;
    }

    .rogalarm{
        font-size: 1.0rem;
    }

    .btn3 img{
        width: 25.5rem;
    }

    .btn4 img{
        width: 14rem;
    }

    .btn-text a{
        font-size: 1.0rem;
    }

    .findelektriker img{
        width: 40rem;
    }

    /*Footer*/
    footer{
        height:22rem;
    }

    .footer .social{
        font-size: 1.5rem;
    }

    .footer .social a{
        font-size: 1.5rem;
    }

    .footer .social a:hover{
        font-size: 1.5rem;
    }

    .footer ul{
        font-size: 0.8rem;
    }

    .footer .copyright{
        font-size: 0.8rem;
    }

    .copyright a{
        font-size: 0.8rem;
    }

    .lk{
        font-size: 0.8rem;
    }

    .nyhedsbrev{
        font-size: 0.8rem;
    }

    .tilmeld{
        font-size: 0.8rem;
    }
}
@media(max-width:768px){
    /*generelle styleelementer*/
    h1{
        font-size: 1.7rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.3rem;
    }
    /*header inklusiv burgermenu*/
    .logo{
        width: 10rem;
        height: 5rem;
    }
    #buttons{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    #burgermenu {
        cursor: pointer;
        height: 27px;
        width: 27px;
        margin: 2rem;
        overflow: visible;
        position: relative;
        z-index:2;
    }

    #burgermenu span,
    #burgermenu span:before,
    #burgermenu span:after {
        background: #009530;
        display: block;
        height: 2px;
        position: absolute;
        transition: 0.3s ease-in-out;
    }
    #burgermenu span:before,
    #burgermenu span:after {
        content: "";
    }
    #burgermenu span {
        right: 0px;
        top: 13px;
        width: 27px;
    }
    #burgermenu span:before {
        left: 0px;
        top: -10px;
        width: 27px;
    }
    #burgermenu span:after {
        left: 0px;
        top: 10px;
        width: 27px;
    }

    #burgermenu.close span {
        transform: rotate(-45deg);
        top: 13px;
        width: 27px;
    }
    #burgermenu.close span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 27px;
    }
    #burgermenu.close span:after {
        top: 0px;
        left:0;
        transform: rotate(90deg);
        opacity:0;
        width:0;
    }
    #menu{
        z-index:1;
        min-width:100%;
        min-height:100%;
        position: fixed;
        top:-15rem;
        height:0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        padding-top:20px;
        transition: all 0.3s ease-in-out;
        flex-direction: column;
    }
    #menu.overlay{
        visibility: visible;
        padding-top:100px;
        background-color:#fff;
        opacity: 80%;
    }
    #menu a{
        display:block;
        font-size: 1.3rem;
        text-decoration:none;
        margin-right: 20px;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    .dropdown{
        padding-top: 3rem;
    }
    .dropdown-content{
        margin-left: 235px;
    }
    #roundbuttons{
        padding-top: 3rem;
        margin-left: 0;
    }
/*main*/

    .carouselSlides img{
        height: 18rem;
    }

    #hejwiser{
        font-size: 1.4rem;
    }

    .upper-btn2{
        display:flex;
        flex-direction: column;
    }

    .upper-btn1{
        display: flex;
        flex-direction: column;
    }

    .btn6 img{
        flex-direction: column;
        width: 8rem;
    }

    #middle-text{
        font-size: 1.2rem;
    }

    .middle-text-home{
        display:flex;
        font-size: 0.8rem;
    }

    .bottom-container{
        font-size: 1rem;
    }

    .btn2 img{
        width: 20rem;
        height: 20rem;
    }

    .rogalarm{
        font-size: 0.8rem;
    }

    .btn-container{
        display:flex;
        flex-direction: column;
    }

    .lowerbutton-1{
        display:flex;
        flex-direction: column;
    }

    .lowerbutton-2{
        display: flex;
        flex-direction: column;
    }

    .btn3 img{
        display:flex;
        flex-direction: column;
        width: 20rem;
    }

    .btn4 img{
        flex-direction: column;
        width: 20rem;
    }

    .lower-container{
        flex-direction: column;
    }

    .btn-text a{
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
    }

    .findelektriker img{
        width: 30rem;
    }

    /*Footer*/
    footer{
        height:20rem;
    }

    .footer .social{
        font-size: 1rem;
    }

    .footer .social a{
        font-size: 1rem;
    }

    .footer .social a:hover{
        font-size: 1rem;
    }

    .footer ul{
        font-size: 0.5rem;
    }

    .footer .copyright{
        font-size: 0.5rem;
    }

    .copyright a{
        font-size: 0.5rem;
    }

    .lk{
        font-size: 0.5rem;
    }

    .nyhedsbrev{
        font-size: 0.5rem;
    }

    .tilmeld{
        font-size: 0.5rem;
        padding:0.1rem;
    }
    
}

@media (max-width: 480px){
    /*header inklusiv burgermenu*/
    .logo{
        width: 8rem;
        height: 4rem;
    }
    .dropdown{
        padding-top: 2rem;
    }
    .dropdown-content{
        margin-left: 0px;
    }
    #roundbuttons{
        padding-top: 3rem;
        margin-left: -0.5rem;
    }
    /*Footer*/
    footer{
        height:18rem;
    }

    .footer .social{
        font-size: 0.8rem;
    }

    .footer .social a{
        font-size: 0.8rem;
    }

    .footer .social a:hover{
        font-size: 0.8rem;
    }

    .footer ul{
        font-size: 0.4rem;
    }

    .footer .copyright{
        font-size: 0.4rem;
    }

    .copyright a{
        font-size: 0.4rem;
    }

    .lk{
        font-size: 0.4rem;
    }

    .nyhedsbrev{
        font-size: 0.4rem;
    }

    .tilmeld{
        font-size: 0.4rem;
        width:2rem;
        height: 1rem;
    }
}