/*Gennemgående styleelementer*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1rem;
}
/*header*/
.header{
    text-align: center;
    margin: 0;
}
#headercontainer{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 15rem;
    height: 7,5rem;
}

#erhverv{
    height: 3rem;
    width: 8rem;
    border: none;

}
#privat{
    height: 3rem;
    width: 8rem;
    background-color: #3DCD58;
    border: none;
}
#roundbuttons{
    padding-top: 0.5rem;
}

.search{
    height: 3rem;
    width: 3rem;
}
.profile{
    height: 3rem;
    width: 3rem;
    padding-left: 0.5rem;
}

/*navigationsbar inkl. burgermenu*/
#menu{
    display: flex;
    padding: 0.5rem;
    overflow: hidden;
}
#menu a{
    float: center;
    font-size: 1.5rem;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown{
    float: center;
    overflow: hidden;
}

#menu a.active{
    color: #009530;
}

.dropdown .btn1{
    font-size: 1.5rem;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: #fff;
    margin: 0;
}
.menu a:hover, .dropdown:hover .btn1{
    background-color: #fff;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fff;
    opacity: 80%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: black;
}
.dropdown-content a:hover{
    font-weight: 600;
}

.dropdown:hover .dropdown-content{
    display: block;
}


@media(max-width:1024px){
    #menu a{
        font-size: 1.5rem;
    }
}
@media(max-width:768px){
     /*burgermenu*/
     .logo{
        width: 10rem;
        height: 5rem;
    }
     #menu{
         flex-direction: column;
         text-align: center;
     }
     #buttons{
         display: none;
     }
     .header{
         display: flex;
         justify-content: space-between;
     }
    #burgermenu {
        cursor: pointer;
        height: 27px;
        width: 27px;
        margin: 50px;
        overflow: visible;
        position: relative;
        z-index:2;
    }

    #burgermenu span,
    #burgermenu span:before,
    #burgermenu span:after {
        background: #009530;
        display: block;
        height: 2px;
        position: absolute;
        transition: 0.3s ease-in-out;
    }
    #burgermenu span:before,
    #burgermenu span:after {
        content: "";
    }
    #burgermenu span {
        right: 0px;
        top: 13px;
        width: 27px;
    }
    #burgermenu span:before {
        left: 0px;
        top: -10px;
        width: 27px;
    }
    #burgermenu span:after {
        left: 0px;
        top: 10px;
        width: 27px;
    }

    #burgermenu.close span {
        transform: rotate(-45deg);
        top: 13px;
        width: 27px;
    }
    #burgermenu.close span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 27px;
    }
    #burgermenu.close span:after {
        top: 0px;
        left:0;
        transform: rotate(90deg);
        opacity:0;
        width:0;
    }
    #menu{
        z-index:1;
        min-width:100%;
        min-height:100%;
        position: fixed;
        top:0;
        height:0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        padding-top:20px;
        transition: all 0.3s ease-in-out;
    }
    #menu.overlay{
        visibility: visible;
        padding-top:100px;
        background-color:#fff;
        opacity: 80%;
    }
    #menu a{
        display:block;
        font-size: 1.3rem;
        margin-bottom:30px;
        text-decoration:none;
        margin-right: 20px;
    }
    
}
@media (max-width: 480px){
    .logo{
        width: 8rem;
        height: 4rem;
    }
}